<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="LottoCalc.LottoCalc" android:versionCode="0" android:versionName="R0">
  <uses-sdk android:minSdkVersion="19" android:targetSdkVersion="19" />
  <application android:label="@string/ApplicationName" android:theme="@android:style/Theme.Holo" />
</manifest>
